@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
body {
  font-family: "Heebo", sans-serif;
}
header {
  display: flex;
  max-width: 1300px;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.logo {
  width: 99px;
}
.nav-list {
  display: flex;
  column-gap: 33px;
}
.nav-list a {
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
.nav-list a:hover {
  opacity: 0.5;
}
.burger-menu-icon {
  display: none;
}
main {
  max-width: 1250px;
  width: 100%;
  min-height: 396px;
  height: 100%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
}
.img-content img {
  width: 100%;
  max-width: 460px;
}
.text h3 {
  color: #21243d;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
}
.text a {
  color: #00a8cc;
  font-size: 16px;
  font-weight: 400;
}
.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-content {
  max-width: 497px;
  height: 100%;
}
.title {
  color: #21243d;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  width: 90%;
}
.paragraph {
  color: #21243d;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
}
.download-btn {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  background: #ff6464;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 38px;
}
.download-btn:hover {
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.75);
}
.post-container {
  background-color: #edf7fa;
  width: 100%;
  min-height: 396px;
  height: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.posts-wrapper {
  max-width: 1250px;
  width: 100%;
  min-height: 243px;
  height: 100%;
  margin: auto;
}
.posts-list {
  display: flex;
  column-gap: 40px;
  justify-content: center;
}
.posts {
  color: #2d2f3b;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  height: 20px;
  text-align: start;
}
.all {
  color: #00a8cc;
  font-size: 16px;
  font-weight: 400;
}
.card1,
.card2 {
  width: 100%;
  max-width: 418px;
  height: 295px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
  padding: 24px 21px 7px 23px;
  cursor: pointer;
  transition: transform 0.5s;
}
.card1:hover {
  transform: scale(1.1);
}
.card2:hover {
  transform: scale(1.1);
}

.design {
  color: #21243d;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
}
.date {
  color: #21243d;
  font-size: 18px;
  font-weight: 400;
  margin-top: 17px;
  margin-bottom: 11px;
  line-height: normal;
}
.line {
  margin: 0px 14px;
}
.lorem {
  color: #21243d;
  font-size: 16px;
  font-weight: 400;
  width: 368px;
  height: 117px;
  line-height: normal;
}
.Featured-works {
  margin-top: 15px;
  color: #21243d;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 272.727% */
}
.project-container {
  width: 100%;
  min-height: 396px;
  height: 100%;
}
.project-wrapper {
  max-width: 1250px;
  width: 100%;
  min-height: 243px;
  height: 100%;
  margin: auto;
}
.project1,
.project2,
.project3 {
  display: flex;
  margin: 46px;
}
.date2020 {
  border-radius: 16px;
  background: #142850;
  padding: 0px 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
}
.dash {
  display: flex;
  color: #8695a4;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.amet {
  width: 594px;
  height: 93px;
  padding-top: 17px;
  color: #21243d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.xp h3 {
  color: #21243d;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.xp {
  padding-left: 18px;
}
.dashboard {
  padding-left: 26px;
  align-items: center;
}
footer {
  width: 100%;
  height: 182px;
  background: #fff;
  margin-top: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-nav-list {
  display: flex;
  column-gap: 35px;
  transition: transform 0.5s;
}
.footer-nav-list img:hover {
  transform: scale(1.2);
}
.Copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  color: var(--Dark, #21243d);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  header {
    padding: 10px 18px;
  }
  .nav-list {
    display: none;
  }
  .burger-menu-icon {
    display: block;
    cursor: pointer;
  }
  .logo {
    width: 60px;
  }
  main {
    flex-direction: column-reverse;
    text-align: center;
    padding: 0px 18px;
    margin-top: 70px;
    justify-content: start;
  }
  .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px; /* 125% */
    margin-top: 43px;
    max-width: 316px;
    width: 100%;
    margin-left: 10px;
  }

  .img-content img {
    width: 100%;
    max-width: 400px;
  }
  .paragraph {
    margin-top: 43px;
    font-size: 16px;
    font-weight: 400;
  }
  .text a {
    display: none;
  }
  .posts-list {
    row-gap: 17px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 38px;
  }
  .text {
    justify-content: center;
  }
  .text h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 333.333% */
  }
  .post-container {
    margin-top: 70px;
  }
  .card1,
  .card2 {
    width: 100%;
    max-width: 354px;
    height: 266px;
    padding: 12px 8px 22px 19px;
  }
  .card1:hover {
    transform: scale(1);
  }
  .card2:hover {
    transform: scale(1);
  }
  .design {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 136.364% */
  }
  .date {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .lorem {
    max-width: 368px;
    width: 100%;
  }
  .Featured-works {
    text-align: center;
    font-size: 18px;
  }
  .project1,
  .project2,
  .project3 {
    flex-direction: column;
  }
  .amet {
    max-width: 366px;
    width: 100%;
    margin-bottom: 50px;
  }
  .xp h3 {
    color: #21243d;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
  }
  .dashboard {
    font-size: 16px;
  }
  .date2020 {
    font-size: 16px;
  }
  .amet {
    font-size: 16px;
  }
  .dash {
    margin-top: 16px;
  }
  .xp {
    padding-left: 0px;
  }
  .footer-nav-list {
    display: flex;
    column-gap: 35px;
    transition: transform 0.5s;
  }
  .footer-nav-list img:hover {
    transform: scale(1.2);
  }
}
